rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /guesthouses/{guesthouseId} {
      allow read: if true;
      allow write: if false;
    }

    match /ratings/{ratingId} {
      allow read: if true;
      allow write: if false;
    }

    match /admins/{adminId} {
      allow read: if request.auth != null && request.auth.uid == adminId;
      allow write: if false;
    }

    match /customers/{customerId} {
      allow read: if request.auth != null && request.auth.uid == customerId;
      allow write: if false;
    }
  }
}